.background {
  width: 100%;
  height: 100%;
  background-color: black;
  display:inline-block;
  position: relative;
}

.background-img {
  width: 100%;
  height: 1200px;
  display: inline-block;
  opacity: 0.5;  
  object-fit: cover;
}

.main-area {
  width: 800px;
  height: 1000px;
  padding: 145px;
  background-color: white;
  opacity: 0.7;
  position: absolute;
  top: 7%;
  left: 18%;
}

.recipe-recipe-register-input-form-wrap {
  position: absolute;
  top: 35%;
  left: 30%;
}

.recipe-register-input-form {
  height: 800px;
  width: 550px;
}

.scroll{
  height: 800px;
  overflow: auto;
}

.recipe-register-input-text {
  margin-top: 15px;
  font-size: 22px;
  padding: 10px 5px 10px 5px;
  width: 480px;
  background: white;
}

.recipe-register-input-label {
  margin-top: 15px;
}

.input-text-ingredient {
  margin-top: 15px;
  font-size: 22px;
  padding: 10px 5px 10px 5px;
  width: 370px;
  margin-right: 10px;
  background: white;
}

.input-text-amount {
  margin-top: 15px;
  font-size: 22px;
  padding: 10px 5px 10px 5px;
  width: 100px;
  background: white;
}

.ingredient-plus-area {
  display: flex;
  justify-content: space-between;
  position: abusolute;
  margin-top: 5px;
}

.ingredient-add-button-area {
  height: 22px;
}

.dli-plus {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 1em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
}

.dli-plus::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.ingredient-add-label {
  margin-top: 2px;
  width: 80px;
  margin-right: 445px;
}

.cookprocedure-textarea {
  margin-top: 15px;
  font-size: 22px;
  padding: 10px 5px 10px 5px;
  width: 480px;
  resize: none;
  background: white;
}

.dli-close {
  display: inline-block;
  vertical-align: middle;
  color: #333;
  line-height: 1;
  width: 1em;
  height: 0.1em;
  background: currentColor;
  border-radius: 0.1em;
  position: relative;
  transform: rotate(45deg);
}

.dli-close::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: inherit;
  border-radius: inherit;
  transform: rotate(90deg);
}

.ingredient-remove-button-area {
  height: 22px;
  margin-left: 5px;
  margin-top: 30px;
}

.ingredients-flex {
  display: flex;
}

.cook-procedure-plus-area {
  display: flex;
  justify-content: space-between;
  position: abusolute;
  margin-top: 5px;
}

.cook-procedure-add-button-area {
  height: 22px;
}

.cook-procedure-add-label {
  margin-top: 2px;
  width: 120px;
  margin-right: 410px;
}

.cook-procedure-flex {
  display: flex;
}

.cook-procedure-remove {
  margin-top: 23px;
  margin-left: 5px;
  width:18px;
  height: 18px;
}

.recipe-register-send-button {
  padding: 35px 23px 0px 0px;
  margin-top: 10px;
  height: 50px;
  width: 550px;
}

.recipe-register-button-color {
  color: #fff;
  background-color: #ff4500;
  font-size: 25px;
  border: none;
  width: 100%;
}

.recipe-register-button-color:hover {
  color: #fff;
  background: #fc0400;
}

.recipe-register-button-radius {
  border-radius: 1vh;
}


@media (max-width: 1020px) and (min-width: 900px) {
  .main-area {
    width: 700px
  }
  .recipe-register-send-button {
    width: 520px;
  }
}

@media (max-width: 900px) and (min-width: 747px) { 
  .main-area {
    left: 10%;
  }
  .recipe-recipe-register-input-form-wrap {
    left: 20%;
  }

  .main-area {
    width: 600px
  }
  .recipe-register-input-form {
    left: 26%;
    width: 480px;
  }
  .recipe-register-input-text {
    width: 430px;
  }
  .input-text-ingredient {
    width: 300px;
  }
  .input-text-amount {
    width: 119px;
  }
  .ingredient-add-label {
    margin-right: 370px;
  }
  .cookprocedure-textarea {
    width: 430px;
  }
  .cook-procedure-add-label {
    margin-right: 340px;
  }
  .recipe-register-send-button {
    width: 470px;
  }
}
@media (max-width: 747px) and (min-width: 720px) {
  .main-area {
    width: 500px
  }
  .recipe-register-input-form {
    width: 360px;
  }
  .recipe-register-input-text {
    width: 320px;
  }
  .input-text-ingredient {
    width: 229px;
  }
  .input-text-amount {
    width: 80px;
  }
  .ingredient-add-label {
    margin-right: 250px;
  }
  .cookprocedure-textarea {
    width: 320px;
  }
  .cook-procedure-add-label {
    margin-right: 220px;
  }
  .recipe-register-send-button {
    width: 350px;
  }
}
@media (max-width: 720px) and (min-width: 630px) {
  .main-area {
    width: 500px
  }
  .recipe-register-input-form {
    width: 360px;
  }
  .recipe-register-input-text {
    width: 320px;
  }
  .input-text-ingredient {
    width: 229px;
  }
  .input-text-amount {
    width: 80px;
  }
  .ingredient-add-label {
    margin-right: 250px;
  }
  .cookprocedure-textarea {
    width: 320px;
  }
  .cook-procedure-add-label {
    margin-right: 220px;
  }
  .recipe-register-send-button {
    width: 350px;
  }
}
@media (max-width: 720px) and (min-width: 400px) {
  .main-area {
    left: 11%;
  }
  .recipe-recipe-register-input-form-wrap {
    left: 25%;
  }
  .main-area {
    width: 460px
  }
  .recipe-register-input-form {
    width: 300px;
  }
  .recipe-register-input-text {
    width: 280px;
  }
  .input-text-ingredient {
    width: 190px;
  }
  .input-text-amount {
    width: 80px;
  }
  .ingredient-add-label {
    margin-right: 200px;
  }
  .cookprocedure-textarea {
    width: 290px;
  }
  .cook-procedure-add-label {
    margin-right: 160px;
  }
  .recipe-register-send-button {
    padding-top: 0px;
    width: 315px;
  }
  input::placeholder {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .main-area {
    left: 11%;
  }
  .recipe-recipe-register-input-form-wrap {
    left: 25%;
  }
  .main-area {
    width: 300px
  }
  .recipe-register-input-form {
    width: 225px;
  }
  .recipe-register-input-text {
    font-size: 16px;
    width: 180px;
  }
  .input-text-ingredient {
    font-size: 16px;
    width: 120px;
  }
  .input-text-amount {
    font-size: 16px;
    width: 50px;
  }
  .ingredient-add-label {
    margin-right: 120px;
  }
  .cookprocedure-textarea {
    font-size: 16px;
    width: 185px;
  }
  .cook-procedure-add-label {
    margin-right: 80px;
  }
  .recipe-register-send-button {
    padding-top: 20px;
    width: 220px;
  }
  input::placeholder {
    font-size: 20px;
  }
}