.search-area-img {
    background-color: black;
    display:inline-block;
    position: relative;
}

.search-area-input {
    position: absolute;
    top: 40%;
    left: 29%;
}

.search-area-input-text {
    font-size: 22px;
    padding: 10px 5px 10px 5px;
    width: 480px;
    margin-right: 5px;
}

.search-area-input-button {
    padding: 22px 15px 16px 15px;
    background-color: #ff4500;
    color: white;
    border: none;
}

.search-area-input-button:hover {
    background-color: #fc0400;
}

.search-area-top-img {
    opacity: 0.5;
    display: inline-block;
    width: 100%;
    height: 750px;
    object-fit: cover;
}

@media (max-width: 900px) and (min-width: 747px) { 
  .search-area-input {
    top: 20%;
    left: 15%;  
  }
}
@media (max-width: 747px) and (min-width: 668px) {
  .search-area-input {
    top: 25%;
    left: 30%;
  }
}
@media (max-width: 668px) and (min-width: 600px) {
  .search-area-input {
    top: 25%;
    left: 28%;
  }
}
@media (max-width: 600px) {
  .search-area-input {
    top: 20%;
    left: 10%;
  }
}

@media (max-width: 1020px) and (min-width: 748px) {
  .search-area-top-img {
    height: 750px;
    object-fit: cover;
  }
}

@media (max-width: 747px) {
  .search-area-top-img {
    height: 700px;
    object-fit: cover;  
  }
  .search-area-input-text {
    width: 250px;
  }
}
